* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fridge {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}